/******************************************* TAG SELECTORS ************************************/

body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}

h1 {
    color: #66BFBF;
    font-family: 'Sacramento', cursive;
    font-size: 4.6875rem;
    margin: 50px auto 0px auto;
    line-height: 2;
}

h2 {
    color: #66BFBF;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}

h3 {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}

a {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}

a:hover {
    color: #EAF6F6;
}

p {
    color: #40514E;
    font-weight: 900;
    font-size: 0.9375rem;
    line-height: 2; 
}

hr{
    border-style: none;
    border-top-style: dotted;
    border-color: rgb(223, 223, 223);
    border-width: 6px;
    width: 4%;
    margin: 100px auto;
}

/******************************************* CLASS SELECTORS ************************************/

.top-container {
    background-color: #E7F6F2;
    position: relative;
    padding-top: 100px;

}

.fp-h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.0625rem;
}

.top-cloud {
    position: absolute;
    right: 235px;
    top: 150px;
}

.bottom-cloud {
    position: absolute;
    left: 250px;
    bottom: 420px;
}

.intro {
    width: 50%;
    margin: auto;
}

.middle-container {
    padding-top: 70px;
}

.skill-row {
    margin: 110px auto;
    width: 50%;
    text-align: left;
}

.wd {
    width: 25%;
    height: 140px;
    float: left;
    margin-right: 30px;
}

.pd {
    width: 25%;
    height: 140px;
    float: right;
    margin-left: 30px;
    border-radius: 100%;
}

.sk {
    width: 25%;
    height: 140px;
    float: left;
    margin-right: 35px;
}

.mymsg {
    margin: 40px auto 60px auto;
}

.contact-me {
    margin-bottom: 100px;
}

/* Button code copied from css3buttongenerator.com */



.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 17px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }

.bottom-container {
    background-color: #66BFBF;
    padding: 50px 0 20px;
}

.copyright {
    color: #EAF6F6;
    font-size: 0.75rem;
    font-weight: normal;
    padding: 20px 0;
}


/******************************************* ID SELECTORS ***************************************/
